/* 1. General */

*{
    margin: 0;
    padding: 0;
    border: none;

    box-sizing: border-box;
}

body{
    size: 16px;
    background-color: #fff;
    color: black;
    background-color: #25316D;
    font-family: 'Roboto', sans-serif;

}


.hidden{
    display: none;
}

.grid {
   padding-left: 15px;
   padding-right: 15px;
   display:grid;
   grid-template-columns: repeat(12, 70px);
   grid-column-gap: 30px;
}

a{
    text-decoration: none;
}


/* 2. Header */

#main-header {
   position: sticky;
   background-color: #25316D;
   top:0px;
   height: 100px;
   z-index: 1
}

.logo {
   grid-column: 1/4;
   margin-left: 50px;
}

.logo img{
    margin-top: 5px;
	width: 200px;
}

#main-nav {
   grid-column: 4/13;
   margin:0;
   margin-top:10px;
   margin-left:30px;
   height:90px;
   background-color: #5F6F94;
   height: 80px;
   text-align: center;
}

#main-nav ul {
   margin-top: 35px;
   margin-left: 30px;
   padding:0;
}

#main-nav li {
display:inline;
margin-right: 28px;
font-family: 'Roboto', sans-serif;
}

#main-nav li:last-child {
   margin-right: 0;
}

#main-nav li a {
   color: #dfdfdf;
}

#main-nav li a:hover {
 padding-bottom: 8px;
 border-bottom: 3px solid #06113C;
}

#character-nav{
    padding: 70px;
    text-align: center;
    background-color: #06113C;

    background-image: url("../images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    background-blend-mode: overlay;
}


/*3. Icons Boxes */

.characters{
    list-style-type: none;
}


.characters li{
    position: relative;
    display: inline-block;
    height: 250px;
    width: 250px;
    margin: 10px 8px;
    background-color: #5F6F94;
    overflow: hidden;
    border-radius: 50px;
    border:5px solid #666;
}


.characters li h5{
    position: relative;
    padding: 14px 8px;
    color: white;
    text-align: center;

    z-index: 50;
}

.characters li a { text-decoration: 0;}

.characters li img{
    width: 550px;
    height: 700px;
    cursor: pointer;
}


/* 4. ---Contact Form--- */

 
 input, textarea{
    padding: 22px;
    border: 2px solid #d6d6d6;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    margin-bottom: 30px;
    font: inherit;
 }
 
/* 5. ---Footer--- */

footer{
    background-color: #06113C;
    height: 270px;
    color: white;
    padding: 20px 0;
    text-align: center;
 }
 
 footer ul {
    margin-top: 35px;
    margin-left: 30px;
    padding:0;
 }
 
 footer li {
 display:inline;
 margin-right: 28px;
 font-size: 21px;
 }
 
 footer li a {
    color: rgb(245, 245, 245);
 }
 
 #link-footer{
    grid-column: 2/4;
    margin-top: 10px;
 }
 
 
 #mainform-newsletter{
    grid-column: 6/9;
    margin-top: 10px;
 }
 
 #mainform-newsletter h3{
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 30px;
    color: rgb(245, 245, 245);
 }
 
 #mainform-newsletter input{
    position: relative;
    top: 50px;
    width: 386px;
 }
 
 
 #button-footer{
    left: 460px;
    bottom: 80px;
    position: relative;
    height: 70px;
 }

 .button-web{
	background-color: #97D2EC;;
	color:#06113C;
	font-size: 15px;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	padding: 0px;
	width: 160px;
	height: 40px;
	font-family: 'Roboto', sans-serif;
   font-weight: bold;
}

.wrapper {
    width:90%;
    display: inline-block;
    padding: 1em;
}


/* #smalltext { transition: all 0.5s ease; transform-origin: 50%;}

#newBadge:hover #bg_circle { fill: orange; }

#newBadge:hover #smalltext { fill: white; transform: rotate(130deg); } */